/*--------------------------------------------------IMPORTS--------------------------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Architects+Daughter&family=Bona+Nova&family=Freehand&family=Grape+Nuts&family=Homemade+Apple&family=Rock+Salt&family=Shadows+Into+Light&display=swap');

/*--------------------------------------------------GRILLA DE EXCURSIONES--------------------------------------------------*/

#contenedor-excursiones {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-gap: 2rem;
}

/*--------------------------------------------------MODAL EXCURSIONES--------------------------------------------------*/

.polaroid {
	background-color: #d5d8dc;
	/*background-image: url("https://media.istockphoto.com/vectors/postal-envelope-on-the-theme-of-travel-with-stamp-vector-id1084470656");*/
	background-repeat: no-repeat;
	min-width: 50%;
	min-height: 50%;
	position: fixed;
	z-index: 1000;
	inset: 0;
	border-color: white;
	border-bottom-width: 8rem;
	border-top-width: 2rem;
	border-left-width: 2rem;
	border-right-width: 2rem;
	font-family: "Bona Nova", serif;
	box-shadow: 5px 5px 40px;
}
.polaroid img {
	max-width: 50rem;
}
.texto-vintage-titulo {
	font-family: "Rock Salt", cursive;
}
.texto-foto{
    text-align: center;
    background: rgba(255, 255, 255, 0.8);
    display: inline-block;
    padding: 2rem;
    margin-top: -3.8rem;
}
.texto-vintage-localidad {
	font-family: 'Shadows Into Light', cursive;
    font-size: 20px;
}
.fotos-vintage {
	min-width: 100%;
	height: 35rem;
}
.modal-recuadro {
	border-color: #000;
	background-color: #d5d8dc;
	color: #000;
	margin-left: 1rem;
	margin-right: 2rem;
}
.fecha-realizacion{
    display: flex;
    margin-top: 2rem;
    margin-right: 2rem;
}
.btn-title {
	pointer-events: auto !important;
}
#selectorPersonas{
    width: 9.3rem;
}
.precio-total{
    margin-top: 2rem;
    font-weight: bold;
    background: #F9E79F;
}
.horario{
    display: flex;
    margin-top: 2rem;
    margin-right: 1rem;
    margin-left: -2rem;
}
.horario2{
    margin-right: 2.2rem;
}

/*--------------------------------------------------MODAL CARRITO COMPRAS--------------------------------------------------*/

.estampilla {
	position: fixed;
  	top: 80px;
  	right: -1145px;
  	width: 35%;
  	height: 91%;
  	overflow: scroll;
  	z-index: 3;
  	background: #F2F4F4;
  	padding: 1.5rem;
  	transition: all 0.3s linear; 
}
.estampilla img {
	max-width: 50rem;
}
.imagen-chica {
	width: 15rem;
}
.contenedor-informacion{
    display: flex;
    margin-right: 2rem;
}
.informacion-excursiones{
    font-weight: bold;
    text-decoration: underline 1px #154360;
}
.text-titulo-carrito{
	font-weight: bold;
	font-size: 40px;
	font-family: "Oxygen", sans-serif;
	margin-left: 10rem;
	text-decoration: underline 5px #173E58;
	margin-bottom: 1.5rem;
}
.titulo-excursiones-carrito{
	font-family: "Oxygen", sans-serif;
	font-size: 20px;
	letter-spacing: 0px;
}
.conjunto-excursiones-carrito{
	display: flex;
}
.info-excursiones-carrito{
	margin-left: 4rem;
}
.precio-total-carrito{
	font-weight: bold;
}
.tachito{
	margin-left: 8rem;
	margin-top: 3rem;
	font-size: 2.5rem;
}
.button-comprar{
	margin-top: 2rem;
	margin-left: 11rem;
}
.text-precio-total-carrito{
	font-weight: bold;
	font-size: 20px;
	font-family: "Oxygen", sans-serif;
	margin-left: 6rem;
	padding-top: 2rem;	
}
.rectangulo-precio-compra{
	margin-left: 14rem;
	margin-right: 10rem;
	margin-top: 3rem;
	padding-bottom: 2rem;
	background-color: #D6DBDF;
}
.fa-solid, .fas {
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    margin-left: 5rem;
	font-size: x-large;
}

/*--------------------------------------------------NAVBAR--------------------------------------------------*/

#menu-93.mbr-navbar--stuck .mbr-navbar__section{
	background-color: #173E58 ;
}
.btn-carrito{
background-color: transparent;
border: none;
}


